<!doctype html>
<html lang="en" class="h-100" dir="rtl">


   <head>
       <title>Django Projects Management</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
   </head>
   <body class="d-flex flex-column h-100 bg-light">
      {% include 'Partials/header.html'%}
      <main class="flex-shrink-0">
         <div class="container mt-5">
            {% block content %}
            {% endblock %}
         </div>
      </main>
      {%include 'Partials/footer.html'%}
      <script
              src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
              crossorigin="anonymous">
      </script>
   </body>
</html>